*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Eclipse metadata
#.metadata
#.recommenders
#.project
/PracowniaJava/netbeans/pracownia6/nbproject/private/
/PracowniaJava/netbeans/pracownia6/build/
/PracowniaJava/netbeans/pracownia7/nbproject/private/
/PracowniaJava/netbeans/pracownia7/build/
/PracowniaJava/netbeans/pracownia7/dist/